<div class="text-layout">

    <app-menu></app-menu>
    <h1>Pipe app</h1>
    
    <button pButton type="button" label="Boton" icon="pi pi-check-square" iconPos="right" class="p-button-help"></button>

    <p-card>
        <ng-template pTemplate="title">
            Tema
        </ng-template>
        <ng-template pTemplate="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
        </ng-template>
    </p-card>

</div>
